<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Hands-on-labs - Simulator</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='simulator/style.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="https://www.robotarm.net/static/img/favicon.png">


  

</head>
<body style="margin: 0px; height: 100vh; overflow: hidden">
  <script type="module" src="{{ url_for('static', filename='simulator/script.js') }}"></script>

  <div id="blocklyDiv" style="height: 50vh; width: 100vw;"></div>

  <div class="code-preview-container" ng-hide="collapsed">
    <sg-nav-pills>
      <ul class="nav nav-pills" role="tablist">
        <li ng-show="component.code.html" role="presentation" class="active">
            <a data-toggle="pill" href="#tab-html">HTML</a>
        </li>
        <li ng-show="component.code.css" role="presentation" class="">
            <a data-toggle="pill" href="#tab-css">CSS</a>
        </li>
      </ul>
    </sg-nav-pills>
    <div class="tab-content">
      <div id="tab-html" class="tab-pane fade in active">
        <pre>
          asd1
        </pre>
      </div>
      <div id="tab-css" class="tab-pane fade">
        <pre>
          asd2
        </pre>
      </div>
    </div>
  </div>

  
  <a href="/dashboard" class="float-exit">
    <i class="fa fa-home inner-float"></i>
    </a>

  <script src="https://unpkg.com/blockly/blockly.min.js"></script>
  <script src="https://unpkg.com/blockly/javascript_compressed"></script>



</body>
</html>
