.float-play{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#2FA1D6;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #000000;
	cursor: pointer;
}

.float-exit{
	position:fixed;
	width:60px;
	height:60px;
	bottom:115px;
	left:42px;
	opacity: 0.5;
	color:#ffffff;
	text-align:center;
	cursor: pointer;
	font-size: 18pt;
}

.inner-float{
	margin-top:22px;
}

