<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Hands-on-labs - Dashboard</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://www.robotarm.net/static/img/favicon.png">

  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="col" id="sidebar">
    <nav>
      <div class="header"><a  class="navbar-brand" href="">
        <img style="width: 100%"  src="./logo.svg" alt="Logo">
      </a>
        <button id="menu"><i class="fa fa-bars"></i></button>
      </div>
      <ul>
        <!-- <li class="search">
          <input class="form-control" id="search" placeholder="Search..."/>
          <button class="btn-search"><i class="fa fa-lg fa-search"></i></button>
        </li> -->
        <!-- <li class="nav-text">Dashboard</li> -->
        
        <li><a class="active" href="#">Courses</a></li>
        <li><a href="/simulator/login/index.html">LogOut</a></li>
        <!-- <li><a href="#">Fluid layout</a></li>
        <li><a href="#">Icon nav</a></li>
        <li class="nav-text">More</li>
        <li><a href="#">Toolkit docs</a></li>
        <li><a href="#">Bootstrap docs</a></li>
        <li><a href="#">Light UI</a></li>
        <li><a href="#">Example modal</a></li> -->
        <li>
          <div class="divider"></div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col">
    <div class="row fluid header">
      <div class="label"><span>Dashboard</span>
        <h2>Courses</h2>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row fluid">
      <div class="course">
        <div class="course-preview">
          <h3>Robotics Fundamentals</h3>
          <!-- <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a> -->
        </div>
        <div class="course-info">
          <div class="progress-container">
            <div class="progress"></div>
            <span class="progress-text">
              6/9 Challenges
            </span>
          </div>
          
          <a href="/simulator/simulator/index.html"><button  class="btn">Continue</button></a>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- partial -->
  <script src='https://codepen.io/milesmanners/pen/WOeOrV.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/726875/fontawesome.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/726875/solid.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js'></script>
<script src='https://codepen.io/milesmanners/pen/XgYOPy.js'></script><script  src="./script.js"></script>

</body>
</html>
